.contact {

    padding-block: 50px;
    background: url("../../img/bg.svg");

    &__heading {
        text-align: center;
    }

    &__text {
        font-size: 22px;
        line-height: 1.5;
        color: rgb(85, 85, 85);
        white-space: nowrap;
    }

    input, textarea, select {
        background-color: #fff;
        box-sizing: border-box;
        border-radius: 2px;
        color: #333;
        display: block;
        float: none;
        font-size: 16px;
        font-family: inherit;
        border: 1px solid #ccc;
        padding: 6px 10px;
        height: 38px;
        width: 100%;
        line-height: 1.3;
        margin-block: 10px;
    }
}