.footer {
    background-color: #222;
    padding-top: 50px;

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 90px;
            width: auto;
        }
    }

    &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &-card {
        color:#fff;
        text-align: center;
        padding: 15px 10px 20px 10px;
        margin-bottom: 20px;
        flex-basis: 100%;

        @media screen and (min-width:768px){
            flex: 1 1 calc(50% - 20px);
        }

        @media screen and (min-width:1024px){
            max-width: calc(20% - 20px);
        }

        &__title {
            
            font-size: 24px;
            line-height: 1.5;
            font-weight: 600;
            color: #FFF;
            margin-bottom: 10px;
        }

        &__adress{
            
            margin-bottom: 10px;
            padding-bottom: 10px;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
        }

        &__tel{
            margin-bottom: 15px;
            a{
                color:#FFF;
                text-decoration: none;
            }
            a:hover{
                text-decoration: underline;
            }
        }

        &__map{
            margin-top: 10px;
            i{
                margin-right: 6px;
            }
            a{
                color:white;
                text-decoration: none;
                font-size: 14px;
                font-weight: 400;
            }
            a:hover{
                text-decoration: underline;
            }
        }
    }

    &__sociaux{
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;

        a{
            display: inline-block;
            font-size: 28px;
        }
        i{
            color:#FFF;
        }
    }

    &__disclaimer{
        margin-bottom: 20px;
        p{
            text-align: center;
            padding-top: 50px;
            color:#FFF;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            @media screen and (min-width:768px){
                text-align: left;
            }
        }
    }
    
    &__sub{
        padding: 20px 10px 60px 10px;

        p{
            color:#FFF;
            font-size: 14px;
            text-align: center;
        }
        a{
            color:#fff;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }

        &-partie1{
            margin-bottom: 0;
            @media screen and (min-width:768px){
                margin-top: 0;
            }
        }

        &-partie2{
            margin-top: 0;
            @media screen and (min-width:768px){
                margin-bottom: 0;
            }
        }

        .container-sub{
            @media screen and (min-width:768px){
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
}