.header-attorneys {

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {

        img {
            width: 210px;
            height: 60px;
        }
    }

    &__burger {
        display: flex;
        flex-direction: column;
        gap: 6px;
        z-index: 2;
    }

    &__burger-line {
        height: 2px;
        width: 22px;
        background-color: #000;
    }

    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.attorneys-profile {

    background-color: #f2f5f9;
    background: url("../../img/bg.svg");

    &__list {
        padding-block: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

        @media screen and (min-width:650px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media screen and (min-width:1025px) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &__filter {
        margin-bottom: 50px;
        padding-top: 50px;
        display: none;

        @media screen and (min-width:1025px) {
            display: block;

            ul {
                display: flex;
                justify-content: center;
                gap: 20px;
                list-style: none;

                li {
                    display: inline-block;
                    margin: 5px;

                    a {
                        background-color: #0744af;
                        text-decoration: none;
                        color: white;
                        border: 1px solid #0744af;
                        font-size: 14px;
                        font-weight: 400;
                        padding: 10px 15px;
                        border-radius: 5px;
                        text-decoration: none;
                        transition: background-color 0.3s ease;
                        display: block;
                    }
                }
            }
        }
    }
}

.profile-card {

    img {
        width: 218px;
        height: 218px;
    }

    &__content {
        padding-block: 20px;
    }

    &__name {
        text-decoration: none;
        color: #0744af;

        &:hover {
            color: #000;
            text-decoration: underline;
        }
    }

    &__function {
        margin-top: 10px;
        color: #777;
        text-transform: uppercase;
        font-size: 14px;
    }

    &__number {
        color: #777;
        margin-top: 10px;

        a {
            text-decoration: none;
            color: #777;

            &:hover {
                text-decoration: underline;
                color: #0744af;
            }
        }
    }

    &__email {
        margin-top: 10px;

        a {
            text-decoration: none;
            color: #777;

            &:hover {
                text-decoration: underline;
                color: #0744af;
            }
        }
    }

    i {
        margin-right: 5px;
    }
}