* {
    font-family: "Roboto", sans-serif;
}

.hero {
    height: 100vh;



    &__video {
        position: absolute;
        z-index: -1;
        inset:0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__wrapper {
        padding-top: 220px;
        padding-bottom: 75px;
        max-width: 680px;
        @media screen and (min-width:900px){
            padding-top:  100px; ;
        }
        @media screen and (min-width:1200px){
            max-width: 1200px;
            margin-inline: auto;
            padding-top: 200px;
        }
    }

    &__title {
        color: #fff;
        font-weight: 700;
        font-size: 24px;
        @media screen and (min-width:900px){
            font-size: 56px;
            margin-bottom: 0;
        }

        @media screen and (min-width:1200px){
            font-size: 80px;
            white-space: nowrap;
        }
    }

    &__text {
        color: #fff;
        line-height: 25px;
        margin-bottom:40px;
        max-width: 680px;
        @media screen and (min-width:900px){
            font-size: 20px;
            line-height: 31px;
        }
    }

    &__btn-blue{
        color:#fff;
        background-color:rgba(7, 68, 175,1) ;
        text-decoration: none;
        text-transform: uppercase;
        padding:16px 32px;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 2px;
        margin-right: 10px;
        display: none;
        @media screen and (min-width:900px){
            display: inline-block;
        }

        &:hover{
            background-color:rgba(7, 68, 175,0.7) ;
            transition: 0.3s all ease-in-out;
        }
    }

    &__btn-dark{
        color:#fff;
        background-color:rgba(0, 0, 0,1) ;
        text-decoration: none;
        text-transform: uppercase;
        padding:16px 32px;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 2px;
        margin-right: 10px;
        display: none;
        @media screen and (min-width:900px){
            display: inline-block;
        }
        
        &:hover{
            background-color:rgba(0, 0, 0,0.5);
            transition: 0.3s all ease-in-out;
        }
    }
}